<% //console.log(allUser, "allUser"); %>
<div id="dates"></div>

<div id="employee_info">
  <div class="employee_right_panel">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Day</th>
          <!-- Current Schedule -->
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Hours</th>
          <!-- Availability -->
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr class="employeeRow">
          <td class="date" scope="row" id="sundayDate"></td>
          <td class="day">Sunday</td>
          <!-- Current Schedule -->
          <td class="clockInTime current_bg"><%= allUser[0]?.sundayClockInTime %></td>
          <td class="clockOutTime current_bg"><%= allUser[0]?.sundayClockOutTime %></td>
          <td class="shiftHours current_bg">8</td>
          <!-- Availability -->
          <td class="availabilityClockInTime available_bg"><%= allUser[0]?.sundayAvailabilityClockInTime ? allUser[0]?.sundayAvailabilityClockInTime : allUser[0]?.sundayClockInTime %></td>
          <td class="availabilityClockOutTime available_bg"><%= allUser[0]?.sundayAvailabilityClockOutTime ? allUser[0]?.sundayAvailabilityClockOutTime : allUser[0]?.sundayClockOutTime %></td>
          <td class="shiftAvailabilityHours available_bg">8</td>
        </tr>
        <tr class="employeeRow">
          <td class="date" scope="row" id="mondayDate"></td>
          <td class="day">Monday</td>
          <!-- Current Schedule -->
          <td class="clockInTime current_bg"><%= allUser[0]?.mondayClockInTime %></td>
          <td class="clockOutTime current_bg"><%= allUser[0]?.mondayClockOutTime %></td>
          <td class="shiftHours current_bg">8</td>
          <!-- Availability -->
          <td class="availabilityClockInTime available_bg"><%= allUser[0]?.mondayAvailabilityClockInTime ? allUser[0]?.mondayAvailabilityClockInTime : allUser[0]?.mondayClockInTime %></td>
          <td class="availabilityClockOutTime available_bg"><%= allUser[0]?.mondayAvailabilityClockOutTime ? allUser[0]?.mondayAvailabilityClockOutTime : allUser[0]?.mondayClockOutTime %></td>
          <td class="shiftAvailabilityHours available_bg">8</td>
        </tr>
        <tr class="employeeRow">
          <td class="date" scope="row" id="tuesdayDate"></td>
          <td class="day">Tuesday</td>
          <!-- Current Schedule -->
          <td class="clockInTime current_bg"><%= allUser[0]?.tuesdayClockInTime %></td>
          <td class="clockOutTime current_bg"><%= allUser[0]?.tuesdayClockOutTime %></td>
          <td class="shiftHours current_bg"></td>
          <!-- Availability -->
          <td class="availabilityClockInTime available_bg"><%= allUser[0]?.tuesdayAvailabilityClockInTime ? allUser[0]?.tuesdayAvailabilityClockInTime : allUser[0]?.tuesdayClockInTime %></td>
          <td class="availabilityClockOutTime available_bg"><%= allUser[0]?.tuesdayAvailabilityClockOutTime ? allUser[0]?.tuesdayAvailabilityClockOutTime : allUser[0]?.tuesdayClockOutTime %></td>
          <td class="shiftAvailabilityHours available_bg"></td>
        </tr>
        <tr class="employeeRow">
          <td class="date" scope="row" id="wednesdayDate"></td>
          <td class="day">Wednesday</td>
          <!-- Current Schedule -->
          <td class="clockInTime current_bg"><%= allUser[0]?.wednesdayClockInTime %></td>
          <td class="clockOutTime current_bg"><%= allUser[0]?.wednesdayClockOutTime %></td>
          <td class="shiftHours current_bg">8</td>
          <!-- Availability -->
          <td class="availabilityClockInTime available_bg"><%= allUser[0]?.wednesdayAvailabilityClockInTime ? allUser[0]?.wednesdayAvailabilityClockInTime : allUser[0]?.wednesdayClockInTime %></td>
          <td class="availabilityClockOutTime available_bg"><%= allUser[0]?.wednesdayAvailabilityClockOutTime ? allUser[0]?.wednesdayAvailabilityClockOutTime : allUser[0]?.wednesdayClockOutTime %></td>
          <td class="shiftAvailabilityHours available_bg">8</td>
        </tr>
        <tr class="employeeRow">
          <td class="date" scope="row" id="thursdayDate"></td>
          <td class="day">Thursday</td>
          <!-- Current Schedule -->
          <td class="clockInTime current_bg"><%= allUser[0]?.thursdayClockInTime %></td>
          <td class="clockOutTime current_bg"><%= allUser[0]?.thursdayClockOutTime %></td>
          <td class="shiftHours current_bg"></td>
          <!-- Availability -->
          <td class="availabilityClockInTime available_bg"><%= allUser[0]?.thursdayAvailabilityClockInTime ? allUser[0]?.thursdayAvailabilityClockInTime : allUser[0]?.thursdayClockInTime %></td>
          <td class="availabilityClockOutTime available_bg"><%= allUser[0]?.thursdayAvailabilityClockOutTime ? allUser[0]?.thursdayAvailabilityClockOutTime : allUser[0]?.thursdayClockOutTime %></td>
          <td class="shiftAvailabilityHours available_bg"></td>
        </tr>
        <tr class="employeeRow">
          <td class="date" scope="row" id="fridayDate"></td>
          <td class="day">Friday</td>
          <!-- Current Schedule -->
          <td class="clockInTime current_bg"><%= allUser[0]?.fridayClockInTime %></td>
          <td class="clockOutTime current_bg"><%= allUser[0]?.fridayClockOutTime %></td>
          <td class="shiftHours current_bg">8</td>
          <!-- Availability -->
          <td class="availabilityClockInTime available_bg"><%= allUser[0]?.fridayAvailabilityClockInTime ? allUser[0]?.fridayAvailabilityClockInTime : allUser[0]?.fridayClockInTime %></td>
          <td class="availabilityClockOutTime available_bg"><%= allUser[0]?.fridayAvailabilityClockOutTime ? allUser[0]?.fridayAvailabilityClockOutTime : allUser[0]?.fridayClockOutTime %></td>
          <td class="shiftAvailabilityHours available_bg">8</td>
        </tr>
        <tr class="employeeRow">
          <td class="date" scope="row" id="saturdayDate"></td>
          <td class="day">Saturday</td>
          <!-- Current Schedule -->
          <td class="clockInTime current_bg"><%= allUser[0]?.saturdayClockInTime %></td>
          <td class="clockOutTime current_bg"><%= allUser[0]?.saturdayClockOutTime %></td>
          <td class="shiftHours current_bg">8</td>
          <!-- Availability -->
          <td class="availabilityClockInTime available_bg"><%= allUser[0]?.saturdayAvailabilityClockInTime ? allUser[0]?.saturdayAvailabilityClockInTime : allUser[0]?.saturdayClockInTime %></td>
          <td class="availabilityClockOutTime available_bg"><%= allUser[0]?.saturdayAvailabilityClockOutTime ? allUser[0]?.saturdayAvailabilityClockOutTime : allUser[0]?.saturdayClockOutTime %></td>
          <td class="shiftAvailabilityHours available_bg">8</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>

