<form id="update_user_time">
  <input name="ticketerId" type="text" hidden value="<%= allUser[0]?.ticketerId %>">
  <input name="ticketeeId" type="text" hidden value="<%= allUser[0]?.ticketeeId %>">
  <div class="grid-col-span-2 d-grid-2 sunday">
    <div class="form-group">
      <input
        name="sundayClockInTime"
        type="text"
        id="sundayClockInTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockInTime %>"
      />
    </div>
    <div class="form-group">
      <input
        name="sundayClockOutTime"
        type="text"
        id="sundayClockOutTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockOutTime %>"
      />
    </div>
  </div>

  <div class="grid-col-span-2 d-grid-2 monday">
    <div class="form-group">
      <input
        name="mondayClockInTime"
        type="text"
        id="mondayClockInTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockInTime %>"
      />
    </div>
    <div class="form-group">
      <input
        name="mondayClockOutTime"
        type="text"
        id="mondayClockOutTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockOutTime %>"
      />
    </div>
  </div>

  <div class="grid-col-span-2 d-grid-2 tuesday">
    <div class="form-group">
      <input
        name="tuesdayClockInTime"
        type="text"
        id="tuesdayClockInTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockInTime %>"
      />
    </div>
    <div class="form-group">
      <input
        name="tuesdayClockOutTime"
        type="text"
        id="tuesdayClockOutTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockOutTime %>"
      />
    </div>
  </div>

  <div class="grid-col-span-2 d-grid-2 wednesday">
    <div class="form-group">
      <input
        name="wednesdayClockInTime"
        type="text"
        id="wednesdayClockInTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockInTime %>"
      />
    </div>
    <div class="form-group">
      <input
        name="wednesdayClockOutTime"
        type="text"
        id="wednesdayClockOutTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockOutTime %>"
      />
    </div>
  </div>

  <div class="grid-col-span-2 d-grid-2 thursday">
    <div class="form-group">
      <input
        name="thursdayClockInTime"
        type="text"
        id="thursdayClockInTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockInTime %>"
      />
    </div>
    <div class="form-group">
      <input
        name="thursdayClockOutTime"
        type="text"
        id="thursdayClockOutTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockOutTime %>"
      />
    </div>
  </div>

  <div class="grid-col-span-2 d-grid-2 friday">
    <div class="form-group">
      <input
        name="fridayClockInTime"
        type="text"
        id="fridayClockInTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockInTime %>"
      />
    </div>
    <div class="form-group">
      <input
        name="fridayClockOutTime"
        type="text"
        id="fridayClockOutTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockOutTime %>"
      />
    </div>
  </div>

  <div class="grid-col-span-2 d-grid-2 saturday">
    <div class="form-group">
      <input
        name="saturdayClockInTime"
        type="text"
        id="saturdayClockInTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockInTime %>"
      />
    </div>
    <div class="form-group">
      <input
        name="saturdayClockOutTime"
        type="text"
        id="saturdayClockOutTime"
        class="form-control"
        value="<%= allUser[0]?.transferClockOutTime %>"
      />
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success text-white text-dark update">Accept Request</button>
  </div>
</form>
